form {
    border: 2px solid black;
    background: yellow;
    width: 642px;
    // height: 210px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;

    input {
        display: block;
        margin: 20px;
        border: 2px solid blueviolet;
        background: aqua;
        border-radius: 10px;
        width: 600px;
        height: 40px;
        font: 24px 'Lobster', cursive;
        color: aliceblue;
        transition: all 3s ease-in-out;
    }

    textarea {
        width: 600px;
        display: block;
        margin: 20px;
        border: 2px solid blueviolet;
        background: aqua;
        border-radius: 10px;
        font: 24px 'Lobster', cursive;
        color: aliceblue;
        transition: all 3s ease-in-out;
    }

    input[type="submit"] {
        background: red;
        width: 320px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        background: green;
        outline: none;
    }

    label {
        font: 24px 'Lobster', cursive;
        margin: 20px;
    }
}